@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>

<div>
    <input type="text" id="username" placeholder="Enter your username" />
    <input type="text" id="message" placeholder="Type your message" />
    <input type="button" value="Send" id="sendButton" />
</div>

<div id="chatDiv">
    <ul id="messagesList"></ul>
</div>

}
